<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Blog", suffix: " · Jordan's Blog" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li id="link"><a href="/posts">Posts</a></li>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.6435-9/242349200_10159307088644070_8733427542764279126_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=CatVdxcec4UAX_hsjr0&tn=k3S_uJfmcpUsziRq&_nc_ht=scontent-syd2-1.xx&oh=51b4af86db92e8bbf16ca6d8e6b6f42c&oe=6178DBD0" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
